/* remove this border before publishing */
.container,
.header,
.sidebar,
.main-conent {
  border: 1px solid red;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  height: 100vh;

  display: grid;
  grid-template: 
    "sidebar header" 15%
    "sidebar main-content" 85%
    / 20% 80%;
}

.header {
  grid-area: header;

  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header-top-row {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr 20fr 1fr 1fr 5fr;
}

.header-top-row input {
  background-color: #a9a9a96c;
  border: none;
  border-radius: 10px;
  margin-right: 2rem;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: main-content;
}