body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 20px; 
  height: 20px; 
}

.large-icon {
  width: 40px;
  height: 40px;
}

.container {
  height: 100vh;

  display: grid;
  grid-template: 
    "sidebar header" 15%
    "sidebar main-content" 85%
    / 20% 80%;
}

.header {
  grid-area: header;

  padding: 0 1rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top-row {
  height: 50%;

  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr 20fr 1fr 1fr 5fr;
}

.header-top-row input {
  background-color: #a9a9a96c;
  border: none;
  border-radius: 0.625rem;
  margin-right: 2rem;
}

.header-bottom-row {
  height: 50%;

  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr 5fr repeat(3, 1fr);
}

.profile-name p,
.profile-name h1 {
  margin: 0;
}

.profile-name h1 {
  font-size: 1rem;
}

.profile-name p {
  font-size: 0.5rem;
  place-content: end;
}

.header-bottom-row button {
  background-color: #31397e;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  border: none;
  border-radius: 0.625rem;
  padding: 0.5rem 1rem;
}

.sidebar {
  grid-area: sidebar;

  background-color: #31397e;
  color: white;

  padding: 1rem;

  display: grid;
  grid-template-rows: 1fr 4fr 2fr 6fr;
}

.sidebar .icon,
.sidebar .large-icon {
  filter: invert(100%);
}

.sidebar-row-1,
.sidebar-row-2 ul li,
.sidebar-row-3 ul li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.main-content {
  grid-area: main-content;

  padding: 1rem;
  background-color: #a9a9a96c;

  display: grid;
  gap: 1rem;
  grid-template: 
    "projects announcements" 1fr
    "projects trending" 1fr
    / 3fr 1fr;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}